/* *** Flex, display *** */
.d-flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.f-row{
    flex-direction: row;
}
.f-wrap{
    flex-wrap: wrap;
}
.f-grow{
    flex-grow: 4;
}
.flex1{
    flex: 1;
}
.just-center{
    justify-content: center;
}
.just-between{
    justify-content: space-between;
}
.just-end{
    justify-content: end;
}
.just-start{
    justify-content: flex-start;
}
.space-evenly{
    justify-content: space-evenly;
}
.ali-center{
    align-items: center;
}
.ali-end{
    align-items: flex-end;
}
.d-none{
    display: none;
}
/* Padding Margin */

.pv-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Tags */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Classes */

.top{
    height: 340px;
    /* border: 1px solid blue; */
    background-image: url(https://www.engie.com/sites/default/files/assets/images/2021-02/Header_industrie.jpg);
    background-size: cover;
    background-position: center;
}
.bottom{
    height: 800px;
    border: 1px solid blue;
    background-color: #eee;
}
.container{
    height: 900px;
    min-width: 80%;
    /* border: 1px solid blue; */
    position: absolute;
    top: 270px;
    left: 10%;
}
/* HEADER */
.header{
    height: 240px;
    min-width: 90%;
    width: 700px;
    border: 1px solid blue;
    background-color: rgb(250, 248, 245);
    margin-bottom: 30px;
    border-radius: 10px;
}
.header-left{
    min-width: 53%;
    padding: 10px;
    /* border-radius: 5px;
    border: 5px solid #eee; */
}
.headerimg{
    height: 80%;
    object-fit: contain;
    border-radius: 5px;
    position: relative;
    top: -40px;
    left: 30px;
    border: 5px solid #eee;
}
.headerabout{
    padding-left: 40px;
    padding-right: 40px;
    width: 90%;
    border-right: solid 3px #eee;
}
.headerabout h3{
    color: #beb5b5;
}
.icondiv{
    width: 36px;
    height: 36px;
    background-color: rgb(200, 223, 215);
    padding: 4px;
    margin: 3px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgb(187, 202, 197) 5px 5px 8px 5px;
}
.icondiv:hover {
    transform: scale(1.1);
    background-color: rgb(219, 53, 53);
    position: relative;
    top: -5px;
}
.headerabout i{
    font-size: 32px;
}
.header-right{
    padding: 20px;
    padding-top: 40px;
}
.header-right h4{
    color: #beb5b5;
    margin-bottom: 0;
}
.header-right h3{
    margin-top: 0;
}

.main{
    height: 700px;
    min-width: 90%;
    border: 1px solid blue;
}